* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #242424;
}

body,
form,
input,
select,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.k-grid-header th {
  font-weight: bold !important;
}

a,
button {
  cursor: pointer;
}

.transaction-form-container {
  width: 100%;
  padding: 4rem 1.5rem;
  background-color: #06163e;
  color: #ffffff;
}

.transaction-form {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  align-items: flex-end;
}

.transaction-form-item {
  height: 40px;
  border: transparent;
  border-radius: 0.25rem;
}

button {
  background-color: #007fff;
  color: #ffffff;
  font-weight: 500;

  &:hover {
    background-color: rgb(50, 147, 243);
    transition: all ease 1s;
  }
}
