* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #141414;
}

body,
form,
input,
select,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-size: 1rem !important;
}

a,
button {
  cursor: pointer;
}
